@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bitter", sans-serif;
}

h1 {
  /* font-size: 50px; */
  // text-align: center;
  color: #ecf0f1;
}

strong {
  color: red;
}

a {
  text-decoration: none;
  color: #80a4c6;
}

.s1 {
  background-color: #dddddd;
  display: flex;
  text-align: center;

  h1 {
    color: #333333;
    font-size: 7em;
    font-weight: 100;
  }
  h3 {
    color: #888888;
    font-size: 1.5em;
    font-weight: lighter;
  }
}

.s2 {
  background-color: #ffffff;

  .main-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5%;

    .top-section {
      h1 {
        font-size: 3em;
        color: #373737;
      }
    }

    .bottom-section {
      display: flex;

      .left-section {
        width: 50%;
        padding-top: 5%;
      }

      .right-section {
        padding: 5%;
        width: 50%;
      }
    }
  }
}

.s3 {
  background-color: #34495e;
}

.s4 {
  background-color: #3498db;
}

.s3 {
  background-color: #e67e22;
}
